body {
  overflow-y: auto;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.img375 {
  @media (min-width: 390px) {
    display: none;
    width: 100%;
    max-width: 100%;
  }
}

.img390 {
  display: none;
  @media (390px <= width <= 980px) {
    display: block;
  }
}

.img1440 {
  object-fit: cover;
  display: none;
  @media (min-width: 980px) {
    display: block;
  }
}
